<table>
    <thead>
        <tr>
            <th></th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>destino</th>
            <th>Data</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let transation of transations"> 
            <td class="icon">
                <i class="material-icons">
                    {{ transation.type == 0 ? 
                        'arrow_upward' : 
                        'arrow_downward'
                    }}
                </i>
            </td>
            <td>{{transation.description}}</td>
            <td>{{transation.value}}</td>
            <td>{{transation.destiny}}</td>
            <td>{{transation.date_transation}}</td>
        </tr>
    </tbody>
</table>