<p *ngIf="no_transations" class="no_transations">Você não possui transações</p>
<table class="highlight responsive-table centered" *ngIf="!no_transations">
    <thead>
        <tr>
            <th></th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Destino</th>
            <th>Data</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let transation of transations"> 
            <td class="icon">
                <i class="material-icons tiny" [ngStyle]="transation.type == 0 ? {color: 'green'} : {color: 'red'}">
                    {{ transation.type == 0 ? 
                        'arrow_upward' : 
                        'arrow_downward'
                    }}
                </i>
            </td>
            <td>{{transation.description | titlecase}}</td>
            <td>{{transation.value | currency: 'BRL':'symbol'}}</td>
            <td>{{transation.destiny | titlecase}}</td>
            <td>{{transation.date_transation | date: 'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>