<div class="view-register">
    <div class="content">
        <h5 class="title">Bem vindo a BooBank, o seu banco.
            Sem sustos.</h5>
            <div class="row">
                <div class="col s6 apr1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s6 apr2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </div>
            </div>
       
        <h6 class="title">Preencha o formulário ao lado<br><br>
            E venha ser BooBank <br><br>
        É rápido, seguro e o melhor <i>GRÁTIS</i></h6>
    </div>
    <app-form-register class="form"></app-form-register>
</div>
