$cor_fundo_geral: #081331;
$cor_fundo_destaque: #0A3566;
$cor_fundo_destaque2:#4779B2;
$cor_fonte_geral:#A7ADBF; 
$cor_fonte_titulo: #C8D0E5;
$cor_result_up: green;
$cor_result_down: red;   
$tamanho_fonte_titulo_card: 1.1rem;
$tamanho_fonte_destaque: 1.2rem;
$tamanho_fonte_texto_card: 0.9rem;
$fonte_padrao:  'Roboto', sans-serif;  
